/*customizações*/
nav .brand-logo {
    font-size: 3.2rem;
}

.parallax-container {
    height: 520px;
}

.card-content#id {
    color: white;

}

p {
    text-align: justify;
    text-indent: 50px;
}

span#b {
    font-weight: bold;
}

/*cores da tabulação do card*/
.tabs .tab a{
    color:orange;
    }
    .tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: #fff3e0;
    outline: none;
    }
    .tabs .tab a:hover,tabs .tab a:active,.tabs .tab a.active {
    background-color:transparent;
    color:orange;
    }
    .tabs .tab.disabled a,.tabs .tab.disabled a:hover {
    color:rgba(102,147,153,0.7);
    }
    .tabs .indicator {
    background-color:#F27620;
    }


/*Rodapé pegajoso*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

img#img {
    max-width: 40px;
    max-height: 40px;
    width: auto;
    height: auto;
}

#icon {
    position: relative;
    right: -20px;
    
}